/* -------------------- web bar -------------------- */
*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* menu background */
.menu_bg {
    background: black;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/* menu item center */
.menu_bg nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

/* make menu item as row */
nav .destop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

/* menu item decoration */
nav .destop li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* menu item hover */
nav .destop li a:hover {
    text-decoration: underline;
}

/* menu item hover */
.apple_logo_white:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.search_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.ship_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}


/* menu item apple logo white*/
.apple_logo_white {
    background: url('images/apple-logo-white.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item apple logo black*/
.apple_logo_black {
    background: url('images/apple-logo-black.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item search logo */
.search_logo {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item ship logo */
.ship_logo {
    background: url('images/ship-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

/* size web */
    /* mweb bar */
    @media (max-width: 1000px) {
        .menu_bg nav {
            width: 100%;
            padding: 0 32px;
        }
    }
    @media (max-width: 1515px) {
        .columnvideo .mac{
            width: 450px;
            margin-left: 10px;
        }
        .row .columnvideo{
            margin-left: 500px;
        }
        .row .columnchoose {
            margin-left: 50px;
            margin-bottom: 20px;
            width: 95%;
        }
        .columnchoose  .ship a img {
            width: 100px;
            margin-bottom: 20px;
        }
        .learnmore .dialog_shape {
            width: 90%;
        }
        .learnmore .close {
            right: 8%;
        }
    }
    @media (max-width: 1200px) {
        .columnvideo .mac{
            width: 350px;
            margin-left: 30px;
        }
        .row .columnvideo {
            margin-left: 250px;
        }
        .learnmore .dialog_shape {
            width: 80%;
        }
        .learnmore .close {
            right: 14%;
        }
    }
    @media (max-width: 800px) {
        .columnvideo .mac{ 
            width: 300px;
            margin-left: 100px;
        }
        .row .columnvideo .video {
            width: 300px;
            margin-left: 100px;
        }
        .row .columnvideo {
            margin-left: 5px;
        }
        .row .columnchoose {
            margin-left: 20px;
            margin-bottom: 20px;
            width: 95%;
        }
        .columnchoose .ship a img {
            width: 70px;
            margin-bottom: 10px;
        }
        .learnmore .dialog_shape {
            width: 90%;
            padding-right: 25px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        .learnmore .close {
            right: 12%;
        }
        .learnmore .dialog_bg .dialog_shape .dialog_title {
            font-size: 25px;
        }
        .learnmore .dialog_bg .dialog_shape .dialog_title_detail1_2_3 {
            font-size: 18px;
        }
    }
/* --------------------------------------------------- */

/* mac bg */
.mac_bg {
    height: 80px;
    width: 100%;
    margin-top: 50px;
    background: #F5F5F7;

    display: flex;
    align-items: center;
}

/* mac text */
.mac_bg .text {
    width: 80.5%;
    margin-left: 100px;

    display: flex;
    align-items: center;
}

/* mac learnmore */
.mac_bg .learnmore {
    width: 80px;
    margin-right: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: right;
}

/* row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* row */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* column video */
.columnvideo {
    float: left;
    height: 100%;
    width: 40%; 
    margin-left: 100px;
    margin-top: 30px;
}

/* video side */
.columnvideo .video {
    width: 450px;
    border-radius: 20px;
}

/* column choose */
.columnchoose {
    float: left;
    height: 100%;
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
}

/* break line */
.break_line {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #D9D9D9;
}

/* GB8 bg */
.GB8_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #4558FF;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* GB8 text inside left*/
.GB8_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* GB8 text inside right*/
.GB8_bg_price {
    width: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* GB16 bg */
.GB16_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #C3C3C3;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* GB16 text inside left*/
.GB16_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* GB16 text inside right */
.GB16_bg_price {
    width: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* GB512 bg */
.GB512_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #4558FF;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* GB512 text inside left*/
.GB512_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* GB512 text inside right*/
.GB512_bg_price {
    width: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* TB1 bg */
.TB1_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #C3C3C3;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* TB1 text inside left*/
.TB1_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* TB1 text inside right*/ 
.TB1_bg_price {
    width: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* total */
.total {
    width: 85%;
    height: 50%;
    margin-top: 60px;

    display: flex;
}

/* ship */
.ship a img {
    width: 10%;
    border-radius: 40px;
    margin-right: 20px;
    margin-bottom: 50px;

    float: right;
}


/* dialog bg */
.dialog_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 130px;
    overflow: auto;
    cursor: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}
  
/* dialog shape */
.dialog_shape {
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    background: #D9D9D9;
}

/* The Close Button */
.close {
    right: 27%;
    float: right;
    cursor: pointer;
    position: fixed;
}

/* dialog title */
.dialog_title {
    font-size: 30px;
}

/* dialog detail */
.dialog_title_detail1_2_3 {
    font-size: 25px;
}

/* line break */
.line {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C3C3C3;
}

/* Bottom text */
.end {
    width: 100%;
    height: fit-content;
    background: #D9D9D9;
    color: black;
    font-size: 18px;
}
